* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: 'Georgia', serif;
}

.background {
    background-image: url("/img/fondoKitty.jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(0.8) sepia(10%);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.overlay {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff5e1;
    padding: 2rem;
}

h1 {
    font-size: 2.5rem;
    max-width: 700px;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    animation: fadeIn 3s ease-out forwards;
    opacity: 0;
}

.btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    background-color: rgba(140, 28, 19, 0.8);
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    animation: fadeIn 4s ease-out forwards;
    opacity: 0;
}

.btn:hover {
    background-color: rgba(191, 67, 66, 0.9);
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    color: #e7d7c1;
}